@using PruebaChatMVC.Dto
@using PruebaChatMVC.ViewModel;
@model ChatsViewModel;
<section class="chatBody" data-userId="@Model.userId">
    <aside class="chatsAvailableAside">
        <ul class="listOfChats">
            @foreach (ChatDto chat in Model.Chats)
            {
                <li class="chat">
                    <form class="chatButton"
                          asp-action="ChatMessages"
                          asp-controller="Home"
                          data-IdChat="@chat.IdChat"
                          data-IdTypeOfChat="@((int)chat.TypeOfChat)"
                          data-ChatName="@chat.ChatName">
                        <button class="chatClickableButton" type="submit">@chat.ChatName</button>
                    </form>
                </li>
            }
        </ul>
    </aside>
    <section class="messagesBody">
    </section>
</section>
<script type="text/javascript" src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" src="~/js/Index.js"></script>